@import '~common/css/variables.scss';

.loading {
  padding: $gap * 2 $gap;
  text-align: center;
  color: $smoke;

  .mint-spinner-snake {
    margin-left: auto;
    margin-right: auto;
  }

  .loading-title {
    margin-top: $gap;
  }
}