<template>
  <div class="main success-page">
    <div class="success-icon"></div>
    <div class="tips">
      {{ text }}
    </div>
    <div class="point">
      增加得分：<span>{{ point }}</span>
    </div>

    <div class="buttons">
      <a class="btn block basic"
        @click="backHome()">
        返回首页
      </a>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'success',
    data: () => {
      return {
        title: '发布成功',
        point: 2,
        text: '您已成功提交'
      }
    },
    created () {
      let params = this.$route.params
      this.title = params.title ? params.title : '发布成功'
      this.point = params.point ? params.point : 2
      this.text = params.text ? params.text : '发布成功'
    },
    methods: {
      backHome () {
        this.$router.replace('/homepage')
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>