@import '~common/css/variables.scss';

.success-page {
  .success-icon {
    display: block;
    margin: 100px auto 50px auto;
    width: 240px;
    height: 100px;
    background-image: url('./../../img/submit-success.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .tips {
    text-align: center;
    color: $smoke;
    margin-bottom: 20px;
  }

  .point {
    font-size: $content-size;
    margin-bottom: 20px;
    text-align: center;

    span {
      color: $red;
    }
  }

  .buttons {
    margin-left: 80px;
    margin-right: 80px;
  }
}