<template>
  <div class="app" id="app"
    ref="root">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'App',
    mounted () {
      // let ratio = window.devicePixelRatio || 1;
      // let height = window.screen.height
      // let width = window.screen.width
      // let root = this.$refs.root
      // if (root && height && width) {
      //   root.style.minWidth = `${width * ratio}px`
      //   root.style.minHeight = `${height * ratio}px`
      // }
    }
  }
</script>
<style lang="scss" src="common/css/base.scss"></style>