@import '~common/css/variables.scss';

.about {
  color: $gray;
  line-height: 1.6em;
}
.about-content {
  margin: $gap;
  p {
    text-indent: 2em;
  }
}

.about-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: $gap / 2;
  text-align: center;
}