<template>
  <div class="main homepage">
    <div class="scroll-main with-footer">
      <!-- 背景 -->
      <div class="homepage-banner"
        v-if="background">
        <a v-if="background.type === 'IMAGE' && background.path"
          @click=openUrl(background.url)>
          <img :src="background.path" />
        </a>
      </div>

      <!-- profile -->
      <div class="card">
        <div class="card-title">
          <span>信息卡</span>
          <span class="player-point"
            v-if="userStatus">
            得分：{{ userStatus.point }}
          </span>
        </div>
        <div class="card-content" v-if="userStatus && profile">
          <CoachInfo v-if="loadProfileStatus === GLOBAL.ASYNC_SUCCESS" 
            :info="profile" :status="userStatus" />
          <Loading v-if="loadProfileStatus === GLOBAL.ASYNC_PENDING" />
        </div>
      </div>

      <!-- diary replied -->
      <div class="card">
        <div class="card-title">
          <span>日记批复</span>
        </div>
        <div class="card-content">
          <Loading v-if="loadDiaryRepliedStatus == GLOBAL.ASYNC_PENDING" />
          <Empty v-if="loadDiaryRepliedStatus == GLOBAL.ASYNC_SUCCESS && (!diaryReplied || !diaryReplied.diary)" />
          <DiaryCard v-if="diaryReplied && diaryReplied.diary && diaryReplied.diaryContent"
            :data="diaryReplied" :goToDetail="goToReplyDetail"
            :withName="true" />
        </div>
      </div>

      <!-- plan -->
      <div class="card">
        <div class="card-title">
          <span>训练计划</span>
        </div>
        <div class="card-content">
          <Loading v-if="loadHomePlanStatus == GLOBAL.ASYNC_PENDING" />
          <Empty v-if="loadHomePlanStatus == GLOBAL.ASYNC_SUCCESS && !homePlan" />
          <PlanCard v-if="loadHomePlanStatus == GLOBAL.ASYNC_SUCCESS && homePlan" :data="homePlan"
            :goToDetail="goToPlanDetail" :withName="true" />
        </div>
      </div>
    </div>
    <CoachFooterBar current='homepage' />
  </div>
</template>
<script>
  import 'common/components/coach-footer-bar'
  import 'common/components/diary-card'
  import 'common/components/coach-info'
  import 'common/components/loading'
  import 'common/components/empty'
  import 'common/components/plan-card'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'CoachHomepage',
    computed: mapGetters({
      profile: 'profile',
      loadProfileStatus: 'loadProfileStatus',
      loadUserStatusStatus: 'loadUserStatusStatus',
      userStatus: 'userStatus',
      background: 'background',
      loadDiaryRepliedStatus: 'loadDiaryRepliedStatus',
      diaryReplied: 'diaryReplied',
      loadHomePlanStatus: 'loadHomePlanStatus',
      homePlan: 'homePlan'
    }),
    methods: {
      goToReplyDetail (reply) {
        this.$router.push({
          path: '/reply/detail',
          query: { 
            diaryId: reply.diary.id,
            reply
          }
        })
      },
      goToPlanDetail (data) {
        this.$router.push({
          path: '/plan/detail',
          query: {
            planId: data.plan.id
          }
        })
      },
      openUrl (url) {
        if (url) {
          window.open(url, '_blank')
        }
      }
    },
    created () {
      if (!this.background) {
        this.$store.dispatch('loadBackground')
      }
      // 随时更新 profile
      this.$store.dispatch('loadProfile')
      // 随时更新 status
      this.$store.dispatch('loadUserStatus')
      // 计划列表随时更新
      this.$store.dispatch('loadHomePlan')
      // 日记列表随时更新
      this.$store.dispatch('loadDiaryReplied')
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>