<template>
  <div class="limit-textarea">
    <textarea class="textarea"
      :placeholder="placeholder"
      v-model="content"
      :style="{ height: `${Math.min(Math.floor(limit/10), 4)}em`}"
      max-length="limit"></textarea>
    <div class="content-limit">
      <span v-if="limit - content.length >= 0">
        您还可以输入 {{ limit - content.length }} 字
      </span>
      <span v-if="limit - content.length < 0">
        您已超出 {{ content.length - limit }} 字
      </span>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'LimitTextarea',
    props: {
      limit: {
        type: Number,
        default: 200
      },
      placeholder: {
        type: String
      }
    },
    data: () => {
      return {
        content: ''
      }
    },
    watch: {
      content (val) {
        this.$emit('input', val)
      },
      value (val) {
        this.content = val
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>