@import '~common/css/variables.scss';

.research{
    width: 100%;
}
.homepage {
  .homepage-banner {
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .player-point {
    @extend %gradient;
    color: $white;
    font-size: $content-size-s;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 0 0 10px;
    height: 23px;
    line-height: 23px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 8px;
  }

  .diary-card {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
    margin-bottom: $gap / 3;
    
    .diary-card-bd {
      border-bottom: 1px solid $smoke-light;
    }
  }
}

