<template>
  <div class="history-plan-main">
    <div class="reply-list"
      v-infinite-scroll="loadMore"
      infinite-scroll-disabled="loading"
      infinite-scroll-distance="100">
      <div v-for="data in planList">
        <PlanCard :data="data"
          :goToDetail="goToDetail" :withName="true" />
      </div>
      <Loading v-if="loadPlanHistoryStatus === GLOBAL.ASYNC_PENDING && planList.length === 0" />
      <Empty v-if="loadPlanHistoryStatus === GLOBAL.ASYNC_SUCCESS && planList.length === 0" />
    </div>
  </div> 
</template>
<script>
  import 'common/components/loading'
  import 'common/components/empty'
  import 'common/components/plan-card'
  import { mapGetters } from 'vuex'

  export default {
    name: 'CoachHistoryPlan',
    computed: mapGetters({
      loadPlanHistoryStatus: 'loadPlanHistoryStatus',
      loadPlanHistoryMessage: 'loadPlanHistoryMessage',
      loadPlanHistoryQuery: 'loadPlanHistoryQuery',
      planList: 'planList',
      loadPlanHistoryTotal: 'loadPlanHistoryTotal'
    }),
    methods: {
      loadMore () {
        if (this.loadPlanHistoryStatus !== this.GLOBAL.ASYNC_PENDING &&
            this.planList.length < this.loadPlanHistoryTotal) {
          let query = { ...this.loadPlanHistoryQuery }
          query.pageNo += 1
          this.$store.dispatch('loadPlanHistory', query)
        }
      },
      goToDetail (data) {
        this.$router.push({
          path: '/plan/detail',
          query: {
            planId: data.plan.id
          }
        })
      }
    },
    created () {
      if (this.loadPlanHistoryStatus !== this.GLOBAL.ASYNC_PENDING) {
        let query = { ...this.loadPlanHistoryQuery }
        query.pageNo = 1
        this.$store.dispatch('loadPlanHistory', query)
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>