<template>  
  <div class="player-info">
    <div class="player-hd">
      <img :src="info.avatar" alt="" class="avatar">
      <div class="player-status">
        <div class="player-status-item">
          <p class="status-num">
            {{ status.accessCount }}
          </p>
          <p class="status-name">
            登录(天)
          </p>
        </div>
        <div class="player-status-item">
          <p class="status-num">
            {{ status.diaryCount }}
          </p>
          <p class="status-name">
            提交(次)
          </p>
        </div>
      </div>
    </div>
    <ul class="player-info-list">
      <li>
        <i class="icon user"></i>
        <span>姓名：<b>{{ info.name }}</b></span>
      </li>
      <li style="">
        <i class="icon birthday"></i>
        <span>年龄：<b>3岁</b></span>
    	</li>
      <li>
        <i class="icon gender"></i>
        <span>性别：<b>{{ info.gender.name }}</b></span>
      </li>
      
			<li style="">
        <i class="icon xie"></i>
        <span>血型：<b>0型</b></span>
    	</li>
    	<li>
        <i class="icon shengao"></i>
        <span>身高：<b>189CM</b></span>
      </li>
			<li>
        <i class="icon tizhong"></i>
        <span>体重：<b>82KG</b></span>
      </li>
			<li style="width:100%;">
        <i class="icon dianhua"></i>
        <span>联系方式：<b>18622910675</b></span>
      </li>
			<li>
        <i class="icon calendar"></i>
        <span>入队时间：<b>2年</b></span>
      </li>
			<li>
        <i class="icon dengjicopy"></i>
        <span>队伍级别：<b>高</b></span>
      </li>
      <li style="width:100%;">
        <i class="icon coach"></i>
        <span>教练员姓名：<b>{{ info.coachName }}</b></span>
      </li>
      <li style="width:100%;"> 
        <i class="icon minorSportCategory"></i>
        <span>项目管理中心：<b></b></span>
      </li>
      <li style="width:100%;">
        <i class="icon minorSport"></i>
        <span>项目：<b></b></span>
      </li>
      <li style="width:100%;">
        <i class="icon majorSport"></i>
        <span>主攻子项运动：<b>{{ info.subCategoryName }}</b></span>
      </li>
       
    </ul>
    <ul class="player-result-list">
      <li v-if="info.bestResultThisYear">
        <i class="icon trophy"></i>
        <span>年度最好成绩：<b>{{ info.bestResultThisYear }}</b></span>
      </li>
      <li v-else>
        <i class="icon trophy"></i>
        <span>年度最好成绩：<b>暂未填写</b></span>
      </li>
      <li v-if="info.bestResult">
        <i class="icon trophy-star"></i>
        <span>历史最好成绩：<b>{{ info.bestResult }}</b></span>
      </li>
      <li else>
        <i class="icon trophy-star"></i>
        <span>历史最好成绩：<b>暂无填写</b></span>
      </li>
    </ul>
  </div>
</template>
<script>
  export default {
    name: 'PlayerInfo',
    props: {
      info: {
        type: Object
      },
      status: {
        type: Object
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>