<template>
  <ul class="tabs">
    <li v-for="item in tabs"
      class="tab-item"
      :class="[item.name === current ? 'current' : '']"
      @click="click(item)">
      {{ item.text }}
    </li>
  </ul>
</template>
<script>
  /**
    tabs: [
      {
        path: '/',
        name: '',
        text: ''
      }
    ]
   */
  export default {
    name: 'Tab',
    props: {
      tabs: {
        type: Array,
        required: true
      },
      current: {
        type: String
      },
      click: {
        type: Function
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>