@import '~common/css/variables.scss';

.poster {
  padding: 42px 35px 47px 35px;
  background-color: $smoke;
  background-image: url('./../../img/user-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .user-card {
    display: flex;
    
    .user-avatar {
      width: 96px;
      height: 96px;
      line-height: 96px;
      text-align: center;
      border-radius: 50%;
      overflow: hidden;
      background-color: $white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .user-info {
      margin-left: 24px;
      flex: 1;

      .user-name {
        font-size: $title-size;
        color: $white;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .user-score {
        @extend %gradient;
        color: $white;
        display: inline-block;
        height: 24px;
        line-height: 24px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 4px;
      }
    }
  }
}