@import '~common/css/variables.scss';


.login {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
}

.login-bg, .login-bg-image, .login-in-video {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; 
}

.login-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #1873d2;
  background-image: url(./../../img/loading.gif);
}

.login-in-video {
  width: 100%;
  height: 100%;
  display: block;
}

.login-form {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px 65px 0px 65px;
  color: $white;
  
  .login-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 95px;
  }

  label {
    color: $white;
    padding: 0px $gap / 3;
    margin-right: $gap / 3;
    border-right: .5px solid $white;
  }

  .field {
    padding: 10px 0px;
    background: transparent;
    border-bottom: .5px solid $white;
    background-color: rgba(0,0,0,.3);

    .input, .label {
      line-height: 20px;
    }
    
    ::-webkit-input-placeholder {
      color: $white;
    }
    ::-moz-placeholder {
      color: $white;
    }
    ::placeholder {
      color: $white;
    }
    .input {
      color: $white;
      // margin: 0px $gap / 3;
    }
  }

  .btn {
    margin-top: $gap;
    height: $gap * 1.5;
    line-height: $gap * 1.5;

    &.basic {
      color: $white;
      border: 1px solid $white;
    }
  }
}