<template>
  <div class="main profile-edit">
    <Nav title="完善信息" :useBack="false"
      :useRight="true"
      :rightClick="save" />
    <div class="scroll-main with-nav">
      <div class="avatar">
        <img :src="submitData.avatar" alt="">
      </div>
      <div class="gender-box"
        v-if="constants.GENDER_LIST && constants.GENDER_LIST.length > 0">
        <span v-for="gender in constants.GENDER_LIST" 
          class="btn gender-item"
          :class="[ gender.value === submitData.gender ? 'selected' : 'basic' ]"
          @click="saveGender(gender.value)">
          <i class="icon" :class="gender.value.toLowerCase()"></i>
          {{ gender.name }}
        </span>
      </div>

      <div class="profile-info-list">
        <div class="field flex">
          <label class="label">姓&emsp;&emsp;名：</label>
          <input type="text" class="input" 
            v-model="submitData.name" style="text-align: right;" />
        </div>
        <PickerTrigger title="出生日期：" 
          placeholder="出生日期"
          pickerType="date"
          :value="submitData.birthDate"
          :startDate="birthStartDate"
          :endDate="endDate"
          :confirm="saveBirthDate" />
        <PickerTrigger title="运动年龄：" 
          placeholder="运动年龄"
          pickerType="date"
          :value="submitData.joinDate"
          :startDate="joinStartDate"
          :endDate="endDate"
          :confirm="saveJoinData" />
        <PickerTrigger title="选择血型：" 
          placeholder="血型"
          value-key="name"
          :slots="_createSlots(constants.BLOOD_TYPE_LIST, 'bloodType', submitData.bloodType)"
          :confirm="saveBloodType" />
        <div class="field flex" style="line-height:50px;margin-bottom: 0;border-bottom: 1px solid #E1E1E1;">
            <label class="label">联系方式</label>
            <input type="text" class="input" style="text-align: right"

         />
         </div>
				<div class="field flex" style="line-height:50px;margin-bottom: 0;border-bottom: 1px solid #E1E1E1;">
            <label class="label">身&emsp;&emsp;高：</label>
            <input type="text" class="input" style="text-align: right"
            v-model="submitData.height"/>
            cm
         </div>
         <div class="field flex" style="line-height:50px;margin-bottom: 0;border-bottom: 1px solid #E1E1E1;">
            <label class="label">体&emsp;&emsp;重：</label>
            <input type="text" class="input" style="text-align: right"
            v-model="submitData.weight" />
            kg
         </div>
       
          <PickerTrigger title="项目管理中心：" 
          placeholder="项目管理中心"
         	value=''
          value-key="name"
          :slots="_createSlots(submitData.managementType)"
          :confirm="savemanageType" 
           style='margin-top: 10px;'
           />
          <PickerTrigger title="项目：" 
          placeholder="项目"
          value-key="name"
          :slots="_createSlots(submitData.sprots)"
          :confirm="sprots" />
          <PickerTrigger title="主攻子项运动：：" 
          placeholder="主攻子项运动"
          value-key="name"
          :slots="_createSlots(submitData.sprot)"
          :confirm="sprot" />


        <div class="profile-edit-info">
          <div class="field flex">
            <label class="label">历史最佳成绩：</label>
            <input type="text" class="input" 
              v-model="submitData.bestResult" />
          </div>
          <div class="field">
            <label class="label">历史最佳成绩说明</label>
            <LimitTextarea placeholder="历史最佳成绩说明"
              v-model="submitData.bestResultRemark" />
          </div>
        </div>
        <div class="profile-edit-info">
          <div class="field flex">
            <label class="label">年度最佳成绩</label>
            <input type="text" class="input" 
              v-model="submitData.bestResultThisYear" />
          </div>
          <div class="field">
            <label class="label">年度最佳成绩说明</label>
            <LimitTextarea placeholder="历史最佳成绩说明"
              v-model="submitData.bestResultThisYearRemark" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import 'common/components/nav'
  import 'common/components/picker-trigger'
  import 'common/components/limit-textarea'
  import moment from 'moment'
  import { mapGetters } from 'vuex'
  import axios from 'axios'
  import getStorageConst from 'common/utils/get-storage-const'
  import { DATE_FORMAT } from 'common/constants/const'
  import { StorageMaster } from 'common/utils/storage'
  import { Toast } from 'mint-ui'
  import photoUpload from 'common/utils/cordova-photo-upload'

  export default {
    name: 'PlayerProileEdit',
    created () {
      // 初始化用户信息
      let user = StorageMaster.getItem('user')
      if (user) {
      	this.sum=user.id
        this.submitData.name = user.name
        this.submitData.avatar = user.avatar
        this.submitData.gender = user.gender ? user.gender.value : ''
        this.submitData.birthDate = user.birthDate
        this.submitData.joinDate = user.joinDate
        this.submitData.subCategoryName=user.subCategoryName
        this.submitData.bloodType = user.bloodType ? user.bloodType.value : ''
      }

      // 初始化常量
      // 初始化常量
      let const_keys = ['bloodType', 'gender']
      let constants = getStorageConst(const_keys)
      this.constants = constants
    },
    computed: mapGetters({
      updateProfileStatus: 'updateProfileStatus',
      updateProfileMessage: 'updateProfileMessage',
      changeAvatarStatus: 'changeAvatarStatus',
      changeAvatarMessage: 'changeAvatarMessage',
      avatar: 'avatar'
    }),
    data: () => {
      return {
      	sprotid:1,
        constants: {},
        birthStartDate: new Date('1980-01-01'),
        joinStartDate: new Date('1980-01-01'),
        endDate: new Date(),
        submitData: {
        	minorCategoryId:14,
          avatar: '',
          gender: '',
          name: '',
          height:'',
          weight:'',
          subCategoryName:'',
          birthDate: '',
          joinDate: '',
          bloodType: '',//血型
          managementType:'',//管理项目
          sprot:null,//项目
          sprots:'',
          manage:'',//保存的项目管理
          bestResult: '',                 // 历史最佳成绩
          bestResultRemark: '',           // 历史最佳成绩说明
          bestResultThisYear: '',         // 年度最佳成绩
          bestResultThisYearRemark: ''    // 年度最佳成绩说明
        }
      }
    },
    mounted:function(){
    	var that=this
    	//项目管理
    	axios({
				type:'get',
				url:"/v1/dict/sportCategory"
    	}).then(function(data){
    		that.submitData.managementType=data.data.data
    	}).catch(function(){
    			alert(2)
    	})
    	//项目
	    	axios({
					type:'get',
					url:"/v1/dict/sportCategory/"+this.sprotid+"/children"
	    	}).then(function(data){
	    		console.log(that.sprotid)
	    		that.submitData.sprots=data.data.data
	    	}).catch(function(){
	    			alert(2)
	    	})
    	
    	//个人资料
    	axios({
				type:'post',
				url:"/v1/player/profile?playerId="+this.sum
    	}).then(function(data){
    		that.submitData.height=data.data.data.height;
    		that.submitData.weight=data.data.data.weight;
    		that.submitData.gender=data.data.data.gender.value;
    		console.log(data)
    	}).catch(function(){
    			alert(2)
    	})
    	// 主攻子项目
    	axios({
				type:'get',
				url:"/v1/player/subCategory?minorCategoryId="+this.submitData.minorCategoryId+"&gender="+this.submitData.gender
    	}).then(function(spt){
//  		
//  	console.log(Array.isArray(spt.data.data))
//  	var c=''
//  	for(var i=0;i<spt.data.data.length;i++){
//  			c +=spt.data.data[i].name+','
//  			var a=c.split(',')
//  		console.log(a)
//  		that.submitData.sprot=a
//  	}
				that.submitData.sprot = spt.data.data
    	}).catch(function(){
    		alert(2)
    	})
	  
//const query = {
//"minorCategoryId":14,
//"gender": "MALE"
//}
//
//fetch('/v1/player/subCategory', query)
//.then(function(res){
//	alert(1)
//  console.log(res)
//})
//.catch(function(err){
//  console.log(err)
//});

   },
    methods: {
      changeAvatar () {
        let store = this.$store
        photoUpload({
          maximumImagesCount: 1
        }).then((res) => {
          let { response } = res[0]
          if (response) {
            let { code, data, message } = JSON.parse(response)
            if (parseInt(code, 10) === 1) {
              store.dispatch('changeAvatar', data.path)
            } else {
              Toast(message || '上传图片失败')
            }
          } else {
            alert('上传图片失败, 找不到返回数据')
          }
        }).catch((err) => {
          alert('网络错误')
        })
      },
      saveGender (value) {
        this.submitData.gender = value
      },
      saveBirthDate (value) {
        this.submitData.birthDate = moment(value).format(DATE_FORMAT)
      },
      saveJoinData (value) {
        this.submitData.joinDate = moment(value).format(DATE_FORMAT)
      },
      saveBloodType (data) {
        this.submitData.bloodType = data.value
      },
      savemanageType (data) { //保存项目管理
      	this.submitData.manage =data.name;
      	this.sprotid=data.id;
      },
      sprot (data){
      	this.submitData.sprots=data.sprot;
      },
      save () {
        let submitData = { ...this.submitData }
        console.log('submitData', submitData)
        this.$store.dispatch('updateProfile', submitData)
      },
      _createSlots (const_list, name, selected) {
        let defaultIndex =  selected ? const_list.findIndex(item => item.value === selected || item.id === selected): 0
        let slots = [
          {
            flex: 1,
            name: name,
            values: const_list,
            textAlign: 'center',
            defaultIndex: defaultIndex
          }
        ]
        return slots
      }
    },
    watch: {
      changeAvatarStatus (next, prev) {
        if (next !== prev) {
          if (next === this.GLOBAL.ASYNC_SUCCESS) {
            Toast('修改成功')
            this.submitData.avatar = this.avatar
          } else if (next === this.GLOBAL.ASYNC_FAIL) {
            Toast(this.changeAvatarMessage || '修改头像失败, 请重试')
          }
        }
      },
      updateProfileStatus (next, prev) {
        if (next !== prev) {
          if (next === this.GLOBAL.ASYNC_SUCCESS) {
            let instance = Toast('保存成功')
            setTimeout(() => {
              this.$router.push({
                path: '/select/coach/'+this.submitData.minorCategoryId+'/'+this.submitData.gender
              })
            }, 500)
          } else if (next === this.GLOBAL.ASYNC_FAIL) {
            Toast(this.updateProfileMessage || '更新失败, 请重试')
          }
        }
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>
