<template>
  <div class="history-reply-main">
    <div class="reply-list"
      v-infinite-scroll="loadMore"
      infinite-scroll-disabled="loading"
      infinite-scroll-distance="10">
      <Empty v-if="loadDiaryReplyHistoryStatus === GLOBAL.ASYNC_SUCCESS && diaryReplyList.length === 0" />
      <div v-for="data, index in diaryReplyList"
        class="reply-box"
        :class="[data.diaryReply ? 'with-reply' : '']">
        <DiaryCard :data="data"
          :goToDetail="goToDetail" :withName="true" />
      </div>
    </div>
  </div> 
</template>
<script>
  import 'common/components/empty'
  import 'common/components/diary-card'
  import { mapGetters } from 'vuex'

  export default {
    name: 'CoachHistoryReply',
    computed: mapGetters({
      loadDiaryReplyHistoryStatus: 'loadDiaryReplyHistoryStatus',
      loadDiaryReplyHistoryMessage: 'loadDiaryReplyHistoryMessage',
      loadDiaryReplyHistoryQuery: 'loadDiaryReplyHistoryQuery',
      diaryReplyList: 'diaryReplyList',
      loadDiaryReplyHistoryTotal: 'loadDiaryReplyHistoryTotal'
    }),
    methods: {
      loadMore () {
        if (this.loadDiaryReplyHistoryStatus !== this.GLOBAL.ASYNC_PENDING &&
            this.diaryReplyList.length < this.loadDiaryReplyHistoryTotal) {
          let query = { ...this.loadDiaryReplyHistoryQuery }
          query.pageNo += 1
          this.$store.dispatch('loadDiaryReplyHistory', query)
        }
      },
      goToDetail (data) {
        this.$router.push({
          path: '/reply/detail',
          query: {
            diaryId: data.diary.id
          }
        })
      }
    },
    created () {
      if (this.loadDiaryReplyHistoryStatus !== this.GLOBAL.ASYNC_PENDING) {
        let query = { ...this.loadDiaryReplyHistoryQuery }
        query.pageNo = 1
        this.$store.dispatch('loadDiaryReplyHistory', query)
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>