.history-reply-main {
  .reply-box {
    position: relative;
    z-index: 1;

    &.with-reply {
      &:after {
        display: block;
        content: '';
        position: absolute;
        z-index: 2;
        right: 10px;
        bottom: 10px;
        background-image: url('./../../img/with-reply.png');
        background-size: cover;
        width: 92px;
        height: 55px;
      }
    }
  }
}
