<template>
  <div class="write-plan">
    <div class="write-box">
      <div class="field">
        <TagBox title="训练计划"
          placeholder="请输入计划名称"
          :limit="20"
          v-model="submitData.name" />
      </div>
    </div>

    <div class="write-box">
      <PickerTrigger title="训练时间"
        placeholder="请选择时间"
        pickerType="date"
        :startDate="startDate"
        :endDate="endDate"
        :value="now"
        :confirm="saveTrainingDate" />
      <PickerTrigger title="训练量" 
        placeholder="请选择训练量"
        pickerType="normal"
        value-key="name"
        :slots="_createSlots(constants.TRAINING_VOLUME_LIST, 'volume')"
        :confirm="saveVolume" />
      <PickerTrigger title="训练强度" 
        placeholder="请选择训练强度"
        pickerType="normal"
        value-key="name"
        :slots="_createSlots(constants.TRAINING_INTENSITY_LIST, 'intensity')"
        :confirm="saveIntensity" />
    </div>
    
    <div class="write-box">
      <TagBox title="训练内容"
        placeholder="补充内容"
        :tags="constants.TRAINING_CONTENT_LIST"
        v-model="submitData.contentRemark"
        :select="saveContentList" />
    </div>

    <div class="write-box">
      <TagBox title="课后恢复手段"
        placeholder="补充内容"
        :tags="constants.TRAINING_RECOVERY_METHOD_LIST"
        v-model="submitData.methodRemark"
        :select="saveRecoveryMethodList" />
    </div>

    <div class="write-box">
      <TagBox title="创新计划（选填）"
        v-model="submitData.innovationPlan" />
    </div>

    <div class="write-box">
      <TagBox title="完成计划情况（选填）"
        placeholder="补充内容"
        :multiple="true"
        :tags="constants.COMPLETE_STATUS_LIST"
        v-model="submitData.completeStatusRemark"
        :select="saveCompleteStatus" />
    </div>

    <div class="write-box">
      <TagBox title="课程质量自我评价（选填）"
        placeholder="补充内容"
        :multiple="true"
        :tags="constants.EVALUATION_STATUS_LIST"
      
        :select="saveEvaluationStatus" />
    </div>
    
    <div class="write-box">
      <div class="field">
        <button class="btn block"
          @click="submit">
          发布
        </button>
      </div>
    </div>
  </div>
</template>
<script>
  import 'common/components/tag-box'
  import 'common/components/picker-trigger'
  import validate from 'common/utils/validate'
  import getStorageConst from 'common/utils/get-storage-const'
  import { Toast } from 'mint-ui'
  import { mapGetters } from 'vuex'
  import { DATE_FORMAT } from 'common/constants/const'
  import moment from 'moment'


  let RULES = {
    name: {
      validator: 'required',
      message: '请填入计划名称'
    },
    trainingDate: {
      validator: 'required',
      message: '请选择开始日期'
    },
    trainingVolume: {
      validator: 'required',
      message: '请选择训练量'
    },
    trainingIntensity: {
      validator:  'required',
      message: '请选择训练强度'
    },
    contentList: {
      validator: 'list',
      message: '请选择训练内容'
    },
    recoveryMethodList: {
      validator: 'list',
      message: '请选择恢复方法'
    }
  }

  export default {
    name: 'CoachWritePlan',
    data: () => {
      return {
        now: moment().format(DATE_FORMAT),
        startDate: moment().subtract(1, 'd').toDate(),
        endDate: moment().add(10, 'd').toDate(),
        submitData: {
          name: '',
          trainingDate: '',
          trainingVolume: '',
          trainingIntensity: '',
          contentList: [],
          contentRemark: '',
          innovationPlan: '',
          recoveryMethodList: [],
          methodRemark: '',
          completeStatus: '',
          completeStatusRemark: '',
          evaluationStatus: '',
          evaluationStatusRemark: ''
        },
        nameLimit: 20,
        constants: {}
      }
    },
    computed: mapGetters({
      submitPlanStatus: 'submitPlanStatus',
      submitPlanMessage: 'submitPlanMessage'
    }),
    created () {
      // 初始化常量
      let const_keys = ['trainingVolume', 'trainingIntensity', 
                        'trainingContent', 'trainingRecoveryMethod',
                        'evaluationStatus', 'completeStatus']
      let constants = getStorageConst(const_keys)
      this.constants = constants
      
      // 初始化一些默认变量
      this.submitData.trainingVolume = constants.TRAINING_VOLUME_LIST[0].value
      this.submitData.trainingIntensity = constants.TRAINING_INTENSITY_LIST[0].value
      this.submitData.trainingDate = this.now

      // 初始化起始日期

    },
    methods: {
      saveTrainingDate (date) {
        this.submitData.trainingDate = moment(date).format('YYYY-MM-DD')
      },
      saveVolume (volume) {
        this.submitData.trainingVolume = volume.value
      },
      saveIntensity (intensity) {
        this.submitData.trainingIntensity = intensity.value
      },
      saveContentList (ids) {
        this.submitData.contentList = ids
      },
      saveRecoveryMethodList (ids) {
        this.submitData.recoveryMethodList = ids
      },
      saveEvaluationStatus (ids) {
        this.submitData.evaluationStatus = ids[0]
      },
      saveCompleteStatus (ids) {
        this.submitData.completeStatus = ids[0]
      },
      submit () {
        let submitData = { ...this.submitData }
        let [pass, key, message] = validate(submitData, RULES)
        if (!pass) {
          Toast(message)
          return false
        }

        // 将 list stringify 一下
        submitData.contentList = JSON.stringify(submitData.contentList)
        submitData.recoveryMethodList = JSON.stringify(submitData.recoveryMethodList)

        this.$store.dispatch('submitPlan', submitData)
      },
      _createSlots (const_list, name) {
        return [
          {
            flex: 1,
            name: name,
            // values: const_list.map((item) => { return item.name }),
            values: const_list,
            textAlign: 'center'
          }
        ]
      }
    },
    watch: {
      submitPlanStatus (next, prev) {
        if (next !== prev) {
          if (next === this.GLOBAL.ASYNC_SUCCESS) {
            this.$router.push({
              name: 'success', 
              params: {
                text: '您已成功提交训练计划到研究院',
                point: 2
              }
            })
          } else if (next === this.GLOBAL.FAIL) {
            Toast(this.submitPlanMessage || '提交出错, 请重试')
          }
        }
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>