<template>
  <div class="diary-card message-card"
    :class="[ data.status === 0 ? 'unread' : '' ]">
    <div class="hd">
      <span class="date">
        {{ transformData(data.createTime) }}
      </span>
      <span class="link"
        v-if="goToDetail"
        @click="goToDetail(data)">
        查看详情
      </span>
    </div>
    <div class="bd">
      {{ data.content }}
    </div>
  </div>
</template>
<script>
  import moment from 'moment'

  export default {
    name: 'MessageCard',
    props: {
      data: {
        type: Object
      },
      goToDetail: {
        type: Function
      }
    },
    methods: {
      transformData (time) {
        return moment(time).format('YYYY-MM-DD HH:mm:ss')
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>
