@import '~common/css/variables.scss';

.pulse-content {
  position: absolute;
  z-index: 1;
  left: $gap;
  right: $gap;
  top: $nav-height;
  bottom: 0;
  
  .pulse-title {
    margin-top: $gap;
    color: $smoke;

    span {
      color: $red;
    }
  }

  .buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .clock {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-60%);
    display: block;
    width: 155px;
    height: 150px;
    line-height: 150px;
    padding-top: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-image: url('./../../img/clock.png');

    .time {
      color: $red;
      font-size: 70px;
    }
  }

  .result {
    font-size: 16px;
    color: #ccc;
    text-align: center;
  }


  .pulse-picker-hd {
    height: $gap;
    line-height: $gap;
    display: flex;
    color: $gray;
    padding: 0px $gap;

   .close-pulse-picker {
      float: left;
    }
    .pulse-piker-title {
      flex: 1;
    }
    .confirm-pulse-picker {
      float: right;
      color: $red;
    }
  }

  .mint-popup-bottom {
    width: 100%;
  }
}
