<template>
  <div class="main">
    <Nav title="历史" :fixed="true" :useBack="false" />
    <div class="scroll-main with-nav with-footer">
      <ul class="history-card-list"
        v-if="historyList.length > 0"
        v-infinite-scroll="loadMore"
        infinite-scroll-disabled="loading"
        infinite-scroll-distance="100">
        <li v-for="history in historyList" 
          class="diary-card history-card">
          <div class="hd">
            <span class="date">{{ history.diary.diaryDate }}</span>
            <span class="period" v-if="history.diary.timePeriod">
              {{ history.diary.timePeriod.name }}
            </span>
            <a class="link"
              @click="goToDetail(history)">查看详情</a>
          </div>
          <div class="bd">
            <dl class="info-item" 
              v-if="history.pulses && history.pulses.length > 0">
              <dt>脉搏次数：</dt>
              <dd>
                <span v-for="pulse in history.pulses"
                  class="pulse-info">
                  {{ pulse.pulse }} 次/{{ pulse.pulseTime }}（{{ pulse.pulseType.name }}）
                </span>
              </dd>
            </dl>
            <dl class="info-item">
              <dt>训练量：</dt>
              <dd>{{ history.diaryContent.trainingVolume.name }}</dd>
            </dl>
            <dl class="info-item">
              <dt>训练强度：</dt>
              <dd>{{ history.diaryContent.trainingIntensity.name }}</dd>
            </dl>
            <dl class="info-item">
              <dt>心理状态：</dt>
              <dd>{{ history.diaryContent.moodStatus.name }}</dd>
            </dl>
          </div>
        </li>
      </ul>
      <Empty v-if="historyLoadStatus == GLOBAL.ASYNC_SUCCESS && historyList.length === 0" />
    </div>
    <PlayerFooterBar current='history' />
  </div>
</template>
<script>
  import 'common/components/nav'
  import 'common/components/empty'
  import 'common/components/loading'
  import 'common/components/player-footer-bar'
  import { mapGetters, mapActions } from 'vuex'
  import { StorageMaster } from 'common/utils/storage'

  let user = StorageMaster.getItem('user')

  export default {
    name: 'PlayerHistory',
    computed: mapGetters({
      historyInited: 'historyInited',
      historyList: 'historyList',
      historyLoadStatus: 'historyLoadStatus',
      historyLoadQuery: 'historyLoadQuery',
      historyTotal: 'historyTotal'
    }),
    data: () => {
      return {
        query: {
          playerId: user.id,
          pageNo: 1,
          pageSize: 5
        }
      }
    },
    created () {
      if (!this.historyLoadStatus !== this.GLOBAL.ASYNC_PENDING) {
        let query = { ...this.historyLoadQuery }
        query.pageNo = 1
        this.$store.dispatch('loadHistoryList', query)
      }
    },
    methods: {
      goToDetail (data) {
        let { diary } = data
        let path = `/diary/detail/${diary.id}`
        this.$router.push({path: path, query: { from: 'history'}})
      },
      loadMore () {
         if (this.historyLoadStatus !== this.GLOBAL.ASYNC_PENDING &&
            this.historyList.length < this.historyTotal) {
            let query = { ...this.historyLoadQuery }
            query.pageNo = query.pageNo + 1
            console.log('query', query)
            this.$store.dispatch('loadHistoryList', query)
          }
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>