<template>
	<div id="" style="background: #FFFFFF;">
		<div class="main" style="height: 44px;">
			<Nav title="反兴奋剂测试" />
		</div>
		<div id="header-title">
			<img src="../../img/analeptictitle.png" style="width: 50%;"/>
		</div>
		<header>
			<div id="cantont" v-for="(value,index) in content">
				<p >{{index+1}}.{{value.content}}</p>
				<p :class="value.true" @click="radio(index)"><span><i></i></span> <b>对</b></p>
				<p :class="value.false" @click="radios(index)"><span><i></i></span> <b>错</b></p>
				
			</div>
		</header>
		<footer>
			
			<router-link to='result'><button>提交</button></router-link>
		</footer>
	</div>
	
</template>
<script>
	export default {
		data:function(){
			return{
				trues:'click-p',
				fraction:null,
				content:[
					{"content":"如果某种营养品可在药店购得（不需要医生处方），那么他必须准许是使用的。","Answer":true,"true":"one","false":"onee"},
					{"content":"如果某种营养品可在药店购得（不需要医生处方），那么他必须准许是使用的。","Answer":true,"true":"two","false":"twoo"},
					{"content":"如果某种营养品可在药店购得（不需要医生处方），那么他必须准许是使用的。","Answer":true,"true":"three","false":"three"},
					{"content":"如果某种营养品可在药店购得（不需要医生处方），那么他必须准许是使用的。","Answer":true,"true":"four","false":"fourr"},
					{"content":"如果某种营养品可在药店购得（不需要医生处方），那么他必须准许是使用的。","Answer":true,"true":"five","false":"fivee"},
					{"content":"如果某种营养品可在药店购得（不需要医生处方），那么他必须准许是使用的。","Answer":true,"true":"six","false":"sixx"},
					{"content":"如果某种营养品可在药店购得（不需要医生处方），那么他必须准许是使用的。","Answer":true,"true":"sevent","false":"seventt"},
					{"content":"如果某种营养品可在药店购得（不需要医生处方），那么他必须准许是使用的。","Answer":true,"true":"eight","false":"eight"},
					{"content":"如果某种营养品可在药店购得（不需要医生处方），那么他必须准许是使用的。","Answer":true,"true":"nine","false":"ninee"},
					{"content":"如果某种营养品可在药店购得（不需要医生处方），那么他必须准许是使用的。","Answer":true,"true":"tenn","false":"tenn"}
				]
			}
		},
		methods:{
			radio(ind){
				this.content[ind].true=this.trues;
				this.content[ind].false=null;
				if(this.content[ind].Answer==true){
					this.fraction+=10
				}
				console.log(this.fraction)
			},
			radios(ind){
				this.content[ind].false=this.trues	
				this.content[ind].true=null
				if(this.content[ind].false==true){
					this.fraction+=10
	
				}
			}
		}
	}
</script>

<style lang="scss" src="./style.scss"></style>
<style>
</style>