<template>
  <div class="main diary-write">
    <Nav :title="pageTitle" />
    <div class="scroll-main with-nav">
      <div class="diary-steps">

        <!-- 训练量 -->
        <div class="step volume"
          v-if="step === 'volume'">
          <p class="step-title">
            你感觉今天的<span>训练量</span>如何？
          </p>
          <div class="step-icon"></div>
          <div class="buttons">
            <button class="btn basic block"
              @class="['red' ? submitData.volume === item.value : '']"
              v-for="item in constants.TRAINING_VOLUME_LIST"
              @click="save('volume', {volume: item.value})">
              {{ item.name }}
            </button>
          </div>
        </div>

        <!-- 强度 -->
        <div class="step intensity"
          v-if="step === 'intensity'">
          <p class="step-title">
            你感觉今天的<span>训练强度</span>如何？
          </p>
          <div class="step-icon"></div>
          <div class="buttons">
            <button class="btn basic block"
              v-for="item in constants.TRAINING_INTENSITY_LIST"
              @class="['red' ? submitData.intensity === item.value : '']"
              @click="save('intensity',{intensity: item.value})">
              {{ item.name }}
            </button>
          </div>
        </div>

        <!-- 心情 -->
        <div class="step mood"
          v-if="step === 'mood'">
          <p class="step-title">
            你今天训练后的<span>心情</span>如何？
          </p>
          <div class="step-icon"></div>
          <div class="buttons">
            <button class="btn basic block"
              v-for="item in constants.MOOD_STATUS_LIST"
              @class="['red' ? submitData.mood === item.value : '']"
              @click="save('mood', {mood: item.value})">
              {{ item.name }}
            </button>
          </div>
        </div>

        <!-- 伤病 -->
        <div class="step"
          v-if="step === 'injury'">
          <p class="step-title">
            你身体<span>各部位</span>是否有<span>伤病</span>?
          </p>
          <p class="step-subtitle">
            请在下图点击伤病区域
          </p>
          <div class="injury-body"
            @click="toggleInjurySelector()">
            <div class="injury-root"
              v-for="root in injurySelecteds.map(([root, part]) => root.bodyPart)"
              :class="[root.value.toUpperCase()]"></div>
          </div>
          <div class="injury-selector-container">
            <mt-popup v-model="injuriedSelectorVisible"
              position="bottom">
              <InjuriedPartSelector :cancel="toggleInjurySelector"
                :confirm="saveInjuryPart"></InjuriedPartSelector>
            </mt-popup>
          </div>
          <div class="buttons">
            <button class="btn block basic"
              @click="save('injury', {
                injuried: submitData.injury.injuried,
                partIds: JSON.stringify(submitData.injury.partIds)
              })">
              提交
            </button>
          </div>
        </div>
        
        <!-- 药物 -->
        <div class="step medicine"
          v-if="step === 'medicine'">
          <p class="step-title">
            你今天服用了<span> 什么药物</span>？
          </p>
          <p class="step-subtitle">
            你可以填写名称或给药品拍照，也可跳过此题
          </p>
          <div class="step-icon"></div>
          <div class="field flex">
            <input type="text" class="input" 
              v-model="submitData.medicine.content" 
              placeholder="请填入药品名称">
          </div>
          <div class="image-box medicine-images"
            v-if="submitData.medicine.medicineImage && 
                  submitData.medicine.imagePaths.length > 0">
            <ul class="images medicine-images-list">
              <li class="image-item medicine-image-item"
                v-for="image in submitData.medicine.imagePaths"
                @click="removeMedicineImage(image)">
                <Photo :src="image" :useReview="false" />
              </li>
            </ul>
            <div class="medicine-image-tips">
              <i class="icon trash"></i>
              点击图片可删除
            </div>
          </div>
          <div class="add-medicine-image">
            <UploadButton :success="addMedicineImages" />
          </div>
          <div class="buttons">
            <button class="btn block basic"
              @click="saveMedicine()">
              提交
            </button>
          </div>
        </div>

        <!-- 经期 -->
        <div class="step period"
          v-if="step === 'period'">
          <p class="step-title">
            你今天是否仍处于<span>经期</span>中？
          </p>
          <div class="step-icon"></div>
          <div class="buttons">
            <button v-for="item in constants.PERIOD_STATUS_LIST" 
              class="btn block basic"
              @click="setPeriod(item)">
              {{ item.name }}
            </button>
            <mt-popup v-model="periodEditing"
              position="bottom"
              :withMask="true">
              <div class="picker-main">
                <div class="picker-hd">
                  <span class="picker-cancel"
                    @click="togglePeriodEditing()">取消</span>
                  <span class="picker-title">
                    {{ submitData.period.type === 'IN' ? '今天处于经期间第几天？' : '今天处于停经第几天？'}}
                  </span>
                  <span class="picker-confirm"
                    @click="savePeriod()">确定</span>
                </div>
                <div class="picker-bd">
                  <mt-picker :slots="_createPeriodSlots()"
                    @change="setPeriodOffset" />
                </div>
              </div>
            </mt-popup>
            
          </div>
        </div>

        <!-- 预览 -->
        <div class="step preview"
          v-if="step === 'preview'">
          <ol class="preview-list">
            <li class="preview-item"
              v-if="diary.trainingVolume">
              <p class="preview-title">
                训练量
              </p>
              <p class="preview-content">
                答：{{ diary.trainingVolume.name }}
              </p>
            </li>
            <li class="preview-item"
              v-if="diary.trainingIntensity">
              <p class="preview-title">
                训练强度
              </p>
              <p class="preview-content">
                答：{{ diary.trainingIntensity.name }}
              </p>
            </li>
            <li class="preview-item"
              v-if="diary.moodStatus">
              <p class="preview-title">
                心里状态及心情感受
              </p>
              <p class="preview-content">
                答：{{ diary.moodStatus.name }}
              </p>
            </li>
            <li class="preview-item">
              <p class="preview-title">
                伤病情况
              </p>
              <p class="preview-content"
                v-if="!diary.injuried">
                答：未受伤
              </p>
              <p class="preview-content"
                v-if="submitData.injury.injuried">
                答：{{ injurySelecteds.map(([root, child]) => child.bodyPart.name).join(',') }}
              </p>
            </li>
            <li class="preview-item">
              <p class="preview-title">
                服药情况
              </p>
              <p class="preview-content"
                v-if="!diary.takeMedicine">
                答：未服药
              </p>
              <p class="preview-content"
                v-if="diary.takeMedicine">
                答：{{ submitData.medicine.content }}
              </p>
            </li>
            <li class="preview-item"
              v-if="submitData.period.type">
              <p class="preview-title">
                月经情况
              </p>
              <p class="preview-content">
                答：{{ submitData.period.type === 'OUT' ? `经期外第${submitData.period.offset}天` : `经期内第${submitData.period.offset}天` }}
              </p>
            </li>
            <li class="preview-item">
              <p class="preview-title">还有什么想对教练说的？</p>
              <LimitTextarea 
                placeholder="请填写您对教练想说的内容"
                v-model="submitData.content" />
            </li>
          </ol>
          <div class="buttons">
            <button class="btn block"
              @click="submit()">
              确认提交
            </button>
            <button class="btn link"
              @click="goFirst()">
              <i class="icon return"></i>
              <span>填写错误，返回重写</span>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
  import 'common/components/nav'
  import 'common/components/injuried-part-selector'
  import 'common/components/upload-button'
  import 'common/components/limit-textarea'

  import { StorageMaster, Storage } from 'common/utils/storage'
  import getStorageConst from 'common/utils/get-storage-const'
  import { mapGetters } from 'vuex'
  import { Toast } from 'mint-ui'

  export default {
    name: 'PlayerDiaryWrite',
    data: () => {
      return {
        pageTitle: '写日记',
        user: null,
        
        submitData: {
          volume: {
            volume: ''
          },
          intensity: {
            intensity: ''
          },
          mood: {
            mood: ''
          },
          injury: {
            injuried: false,
            partIds: [],
          },
          period: {
            type: '',
            offset: ''
          },
          medicine: {
           takeMedicine: false,
           content: '',
           medicineImage: false,
           imagePaths: []
          }
        },

        steps: getStepEnums(),
        step: getStepEnums()[0],
        periodEditing: false,
        constants: {},
        injuriedSelectorVisible: true,
        injurySelecteds: []
      }
    },
    created () {
      let user = StorageMaster.getItem('user')
      let constants = {}
      this.user = user
      
      // 初始化日记步骤
      // 女性需要多加一个经期的记录
      this.steps = getStepEnums(user)
      
      // 初始化常量
      let const_keys = ['trainingVolume', 'trainingIntensity', 
                        'periodStatus', 'moodStatus']
      constants = getStorageConst(const_keys)
      this.constants = constants

      // 清空 diary 缓存
      this.$store.dispatch('flushDiaryCache')
    },
    computed: mapGetters({
      diarySaveStatus: 'diarySaveStatus',
      diarySaveMessage: 'diarySaveMessage',
      diarySubmitStatus: 'diarySubmitStatus',
      diarySubmitMessage: 'diarySubmitMessage',
      diary: 'diary'
    }),
    watch: {
      diarySaveStatus (next, prev) {
        if (prev !== next) {
          if (next === this.GLOBAL.ASYNC_SUCCESS) {
            let instance = Toast('保存成功')
            setTimeout(() => {
              instance.close()
              this.goNext()
            }, 500);
          } else if (next === this.GLOBAL.ASYNC_FAIL) {
            Toast(this.diarySaveMessage || '保存失败, 请重试')
          }
        }
      },
      diarySubmitStatus (next, prev) {
        if (prev !== next) {
          if (next === this.GLOBAL.ASYNC_SUCCESS) {
            let instance = Toast('提交成功')
            setTimeout(() => {
              instance.close();
              this.$router.push({
                name: 'success',
                params: {
                  text: '日记提交成功'
                }
              })
            }, 500);
          } else if (next === this.GLOBAL.ASYNC_FAIL) {
            Toast(this.diarySubmitMessage || '提交失败, 请重试')
          }
        }
      }
    },
    methods: {
      go (step) {
        if (this.steps.indexOf(step) < 0) {
          return false
        }
        this.step = step
        if (step === 'preview') {
          this.pageTitle = '日记预览'
        } else {
          this.pageTitle = '写日记'
        }
      },
      goFirst () {
        this.go(this.steps[0])
      },
      goNext() {
        let step = this.step
        let nextIndex = this.steps.findIndex((_step) => { return _step === step }) + 1
        let next = this.steps[nextIndex]
        this.go(next)
      },
      setPeriod (data) {
        this.periodEditing = true
        this.submitData.period.type = data.value
      },
      setPeriodOffset (picker, values) {
        this.submitData.period.offset = values[0]
      },
      togglePeriodEditing () {
        this.periodEditing = !this.periodEditing
      },
      savePeriod () {
        this.save('period', this.submitData.period)
      },
      save (type, saveData) {
        let first = this.steps[0]
        let user = this.user || StorageMaster.getItem('user')
        let diaryId = this.diary ? this.diary.diaryId : ''
        let params = { playerId: user.id }
        if (type !== first) {
          params.diaryId = diaryId
        }

        this.submitData[type] = saveData

        let data = Object.assign({}, saveData, params)

        if (this.steps.indexOf(type) < 0) {
          throw new Error(`不存在该步骤: ${type}`)
          this.goNext()
        } else {
          this.$store.dispatch('saveDiaryInfo', {type, data})
        }
      },
      submit () {
        let user = this.user || StorageMaster.getItem('user')
        let diaryId = this.diary ? this.diary.id : ''

        this.$store.dispatch('submitDiary', {
          playerId: user.id,
          diaryId: diaryId,
          content: this.submitData.content
        })
      },
      addMedicineImages (res) {
        let paths = res.map((item) => {
          let { response } = item
          if (response) {
            let { code, data, message } = JSON.parse(response)
            if (parseInt(code, 10) === 1) {
             return data.path
            }
          }
        })

        let imagePaths = [...this.submitData.medicine.imagePaths]
        imagePaths = paths.concat(imagePaths)
        if (imagePaths.length > 0) {
          this.submitData.medicine.medicineImage = true
        }
        this.submitData.medicine.imagePaths = imagePaths
      },
      removeMedicineImage (image) {
        let imagePaths = this.submitData.medicine.imagePaths
        imagePaths = imagePaths.filter((_image) => {
          return _image !== image
        })
        this.submitData.medicine.imagePaths = imagePaths
      },
      saveMedicine () {
        let submitData = Object.assign({}, this.submitData.medicine)
        this.submitData.medicine.medicineImage = !!submitData.imagePaths.length
        this.submitData.medicine.takeMedicine = !!submitData.content

        delete submitData.medicineImage 
        delete submitData.takeMedicine

        // 兼容 
        submitData.isTakeMedicine = !!submitData.content
        submitData.hasMedicineImage = !!submitData.imagePaths.length

        // 转成字符串
        submitData.imagePaths = JSON.stringify(submitData.imagePaths)

        this.save('medicine', submitData)
      },
      toggleInjurySelector () {
        this.injuriedSelectorVisible = !this.injuriedSelectorVisible
      },
      saveInjuryPart (selected_ids, selecteds) {
        if (selected_ids && selected_ids.length > 0) {
          this.submitData.injury.injuried = true
          this.submitData.injury.partIds = selected_ids
          this.injurySelecteds = selecteds
        } else {
          this.submitData.injury.injuried = false
          this.submitData.injury.partIds = []
          this.injurySelecteds = []
        }
        this.toggleInjurySelector()
      },
      _createPeriodSlots () {
        return [
          {
            flex: 1,
            name: 'period',
            values: Array.from(new Array(30)).map((i, index) => index + 1),
            textAlign: 'center'
          }
        ]
      }
    }
  }

  // helper
  function getStepEnums (user) {
    let STEP_ENUMS = ['volume', 'intensity', 'mood', 
                      'injury', 'medicine', 'preview']
    if (user && user.gender && user.gender.value === 'FEMALE') {
      let insertIndex = STEP_ENUMS.length - 2
      STEP_ENUMS.splice(insertIndex, 0, 'period')
    }
    return STEP_ENUMS
  }
</script>
<style lang="scss" src="./style.scss"></style>