<template>
  <div class="main plan-detail">
    <Nav title='计划详情' />
    <div class="scroll-main with-nav">
      <Loading v-if="loadPlanStatus === GLOBAL.ASYNC_PENDING" />
      <Empty v-if="loadPlanStatus === GLOBAL.ASYNC_FAIL" />
      <PlanCard v-if="loadPlanStatus === GLOBAL.ASYNC_SUCCESS && plan"
        :data="plan" :isDetail="true" />

      <!-- 没有完成情况的，这里可以填写 -->
      <div class="write-box"
        v-if="plan && plan.plan && !plan.plan.completeStatus">
        <TagBox title="完成计划情况"
          placeholder="补充内容"
          :multiple="true"
          :tags="constants.COMPLETE_STATUS_LIST"
          v-model="submitData.completeStatusRemark"
          :select="saveCompleteStatus" />
      </div>


      <div class="write-box"
        v-if="plan && plan.plan && !plan.plan.evaluationStatus">
        <TagBox title="课程质量自我评价"
          placeholder="补充内容"
          :multiple="true"
          :tags="constants.EVALUATION_STATUS_LIST"
          v-model="submitData.evaluationStatusRemark"
          :select="saveEvaluationStatus" />
      </div>

      <div class="write-box"
        v-if="plan && plan.plan && (!plan.plan.evaluationStatus || !plan.plan.completeStatus )">
        <div class="field">
          <button class="btn block"
            @click="submit">
            发布
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import 'common/components/nav'
  import 'common/components/loading'
  import 'common/components/empty'
  import 'common/components/plan-card'
  import validate from 'common/utils/validate'
  import stringifyParams from 'common/utils/stringify-params'
  import getStorageConst from 'common/utils/get-storage-const'
  import { mapGetters } from 'vuex'
  import { Toast } from 'mint-ui'

  let RULES = {}

  export default {
    name: 'CoachPlanDetail',
    computed: mapGetters({
      loadPlanStatus: 'loadPlanStatus',
      loadPlanMessage: 'loadPlanMessage',
      plan: 'plan',
      updatePlanStatus: 'updatePlanStatus',
      updatePlanMessage: 'updatePlanMessage'
    }),
    data: () => {
      return {
        submitData: {},
        constants: {}
      }
    },
    created () {
      let planId = this.$route.query ? this.$route.query.planId : this.plan.id
      this.$store.dispatch('flushPlan')
      this.$store.dispatch('loadPlan', {
        id: planId || this.plan.id
      })
      // 初始化常量
      let const_keys = ['evaluationStatus', 'completeStatus']
      let constants = getStorageConst(const_keys)
      this.constants = constants
    },
    methods: {
      saveEvaluationStatus (ids) {
        this.submitData.evaluationStatus = ids[0]
      },
      saveCompleteStatus (ids) {
        this.submitData.completeStatus = ids[0]
      },
      submit () {
        let submitData = { ...this.submitData }
        let { plan, planContents, planRecoveryMethods } = this.plan
        let { planId } = this.$route.query || this.plan.plan.id
        // update data
        let _submitData = Object.assign({}, {
          coachId: plan.coachId,
          name: plan.name,
          trainingDate: plan.trainingDate,
          trainingVolume: plan.trainingVolume ? plan.trainingVolume.value : '',
          trainingIntensity: plan.trainingIntensity ? plan.trainingIntensity.value : '',
          contentList: planContents ? planContents.map((item) => {return item.id}) : [],
          contentRemark: plan.contentRemark,
          innovationPlan: plan.innovationPlan,
          recoveryMethodList: planRecoveryMethods ? planRecoveryMethods.map((item) => {return item.id}) : [],
          methodRemark: plan.methodRemark,
          completeStatus: plan.completeStatus,
          completeStatusRemark: plan.completeStatusRemark,
          evaluationStatus: plan.evaluationStatus,
          evaluationStatusRemark: plan.evaluationStatusRemark,
        }, submitData, {
          planId: planId
        })
        _submitData = stringifyParams(_submitData)
        this.$store.dispatch('updatePlan', _submitData)
      }
    },
    watch: {
      plan (next, prev) {
        if (!next) {
          return false
        }
        // 初始化 rules 和 submitData
        if (next.plan && !next.plan.evaluationStatus) {
          this.submitData = Object.assign({}, this.submitData, {
            evaluationStatus: '',
            evaluationStatusRemark: ''
          })
        }
        if (next.plan && !next.plan.completeStatus) {
          this.submitData = Object.assign({}, this.submitData, {
            completeStatus: '',
            completeStatusRemark: '',
          })
        }
      },
      updatePlanStatus (next, prev) {
        if (next !== prev) {
          if (next === this.GLOBAL.ASYNC_SUCCESS) {
            Toast('更新成功')
            this.$store.dispatch('loadPlan', {
              id: this.plan.plan.id
            })
          } else if (next === this.GLOBAL.ASYNC_FAIL) {
            Toast(this.updatePlanMessage || '更新失败, 请重试')
          }
        }
      }
    }
  }
</script>
<style lang="scss" src="./style.scss"></style>