@import './normalize.scss';
@import './variables.scss';
@import './button.scss';
@import './nav.scss';
@import './form.scss';
@import './icon.scss';
@import './card.scss';
@import './diary-card.scss';
@import './picker.scss';
@import './image-box.scss';
@import './disable-text-selection.scss';

html, body, #app {
  font-family: $font-family;
  font-size: $content-size;
  background-color: $bg-color;
}

#app {
  // @extend %iphonex-style;
}

.scroll-main {
  overflow: scroll;
  // position: fixed;
  // z-index: 1;
  // left: 0;
  // right: 0;
  // top: 0;
  // bottom: 0;
  padding-bottom: $gap / 3;

  &.with-nav {
    margin-top: $nav-height;
  }

  &.with-footer {
    margin-bottom: 70px;
  }
}

.mint-popup-bottom {
  width: 100%;
}