@import './variables.scss';

.btn {
  @extend %gradient;
  border: none;
  height: $btn-height;
  line-height: $btn-height;
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
  color: $white;

  &:hover, &:active, &:focus {
    outline: none;
  }

  &.disabled {
    background-image: none;
    background-color: $btn-disabled-color;
    color: $gray-light;
  }

  &.gray {
    background-image: none;
    background-color: $btn-gray-color;
    color: $gray-light;
  }

  &.basic {
    background: none;
    border: 0.5px solid $gray;
    color: $gray;
  }

  &.block {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: $gap / 3;
    margin-top: $gap / 3;
  }

  &.link {
    color: $blue;
    display: inline-block;
    background: none;
  }

  &.s {
    font-size: $content-size-s;
    height: $content-size-s * 2;
    line-height: $content-size-s * 2;
  }
}

.buttons {
  text-align: center;

  &.flex {
    .btn {
      flex: 1;
      margin-left: $gap / 2;
      margin-right: $gap / 2;
    }
  }
}