@import './variables.scss';

.card {
  .card-title {
    height: 30px;
    line-height: 30px;
    padding: 5px 0px 5px 30px;
    background-color: #EFEFEF;
    font-size: $content-size;
    color: $black;
    position: relative;
    z-index: 1;
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      height: 20px;
      left: 20px;
      border-left: 1px solid $red;
    }
  }

  .card-content {
  }
}