/* Desactivar l'opció de seleccionar text */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
}

[contenteditable="true"] , input, textarea {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;  
}