@import './variables.scss';

.field {
  padding: 0px  $gap/2;
  background-color: $white;
  margin-bottom: 15px;
  font-size: $content-size;

  .label, .input {
    
    line-height: $gap + 20px;
  }

  .input, .textarea {
    border: none;
    border-radius: 0;
    background: none;
    appearance: false;

    &:focus, &:active {
      outline: none;
    }
  }

  .textarea {
    display: block;
    width: 100%;
  }

  &.flex {
    display: flex;
    .label {
//    width: 30%;
      text-align: left;
      float: left;
    }
    .input {
      display: block;
      flex: 1;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      border: none;
    }
  }
}