<template>
	<div id="">
		<div class="main" style="height: 44px;">
			<Nav title="反兴奋剂测试" />
		</div>
		<header>
			<div id="header-img">
				<img src="../../img/result.png"/>
			</div>
			<h2>真可惜！</h2>
			<h4>你只答对了<span>2</span>道题</h4>
			<a href="http://www.chinada.cn/"><button>进入反兴奋剂中心</button></a>
			<router-link to='homepage'><button class="btn">返回首页</button></router-link>
		</header>
	</div>
</template>

<script>
</script>
<style lang="scss" src='./style.scss'>
	
</style>
<style>
#header-img img{
    display: block;
    width: 70%;
    margin: 100px auto 0;
}
h2{
	text-align: center;
	font-size: 30px;
	line-height: 100px;
}
h4{
	text-align: center;
	font-size: 20px;
	margin-bottom: 100px;
}
.btn{
	background: rgba(0,0,0,0);
	color: #222222;
	border: 1px solid #222222;
}
</style>